/* BOOTSTRAP CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* GOOGLE FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}
/* body{
    padding: 0 0 10rem 0;
} */

/**************************/
/* INDEX.HTML CSS KODLARI */

/*NAVBAR START*/
.navFirst-bg{
    background-color: #D8D9DA;
}
.navFirst-contactList li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.navFirst-contactList li i{
    font-size: 20px;
}
.navFirst-iconList li{
    margin-left: 2rem;
    list-style: none;
}
.navFirst-iconList li a{
    font-size: 20px;
}
.navFirst-iconList li a i{
    color: black;
    transition: all .3s;
}
.navFirst-iconList li a i:hover{
    color: #FF9B50;
    transform: scale(1.3);
}

.navSecond-under{
    border-bottom: 2px solid #D8D9DA;
}
.navSecond-linkList{
    display: flex;
    justify-content: end;
}
.navSecond-linkList li{
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.navSecond-linkList li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color .3s;
}
.navSecond-linkList li:hover :is(a,i){
    color: #FF9B50;
}
.navSecond-linkList li i{
    font-size: 20px;
    color: black;
    transition: color .3s;
}
#navbarColor{
    color: #FF9B50;
}
#navbarColor:hover{
    color: #73777B;
}
.navbarThird-style a{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.navbarThird-style a:hover{
    color: #73777B;
}
.dropStyle{
    font-size: 18px;
    margin-top: 2px;
    font-weight: 600;
}
.dropStyle:hover{
    color: #73777B;
}
.navThird-input{
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #D8D9DA;
    border-right: none;
    width: 300px;
}
.navThird-input::placeholder{
    color: black;
    font-size: 19px;
}
.navThird-input:focus{
    outline: 1px solid #FF9B50;
}
.navThird-button{
    border: none;
    background-color: #FF9B50;
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
    transition: transform .4s;
}
.navThird-button:hover{
    transform: scale(1.1);
}

/*COROUSEL*/
.corouselVideo{
    border-radius: 50%;
}
.corouselNext-icon{
    color: #FF9B50;
    font-size: 35px;
}
.corouselBack-icon{
    color: #FF9B50;
    font-size: 35px;
}
.carousel-indicators [data-bs-target]{
    background-color: #FF9B50;
    height: 10px;
}
.carouselFirst-textBaslik{
    font-size: 36px;
    font-weight: 600;
}
.textBaslik-first{
    color: #FF9B50;
    font-weight: 900;
}
.carouselFirst-textParagraf{
    font-size: 20px;
    font-weight: 400;
}
.carouselSecond-text{
    font-size: 36px;
    font-weight: 600;
}
.carouselSecond-paragraf{
    font-size: 20px;
    font-weight: 400;
}
.corouselSecond-button{
    border: none;
    background-color: #9D44C0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: .5rem 2rem;
    border-radius: 50px;
    transition: transform .4s;
}
.corouselSecond-button:hover{
    transform: scale(1.2);
}
.corouselSecond-icon{
    position: relative;
    animation-name: top;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes top{
    0%{top:0}
    100%{top:40px}
}
.corouselSecond-icon i{
    color: #9D44C0;
    font-size: 40px;
}
.corouselSecond-img{
    border-radius: 50%;
}

/*SECTİON-LEFT CATEGORY*/
.categorySection{
    border: 1px solid #D8D9DA;
    padding: 1rem;
    border-radius: 5px;
}
.accordion-item{
    border: none;
}
.categoryTitle-text{
    color: #FF9B50;
    font-weight: 700;
    text-align: center;
    z-index: 3;
    position: relative;
}
.categoryTitle-text::before{
    content: "";
    position: absolute;
    background: #ffffff;
    bottom: -6px;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
}
.categoryTitle-text:after{
    content: "";
    position: absolute;
    border: 1px solid #D8D9DA;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}
.accordionList{
    list-style: none;
}
.accordionList li{
    margin-bottom: 5px;
}
.accordionList a{
    text-decoration: none;
    color: #73777B;
}
.accordion-button:not(.collapsed){
    background: none;
    color: black;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button{
    font-weight: 600;
}
.categorySecondList{
    padding: 0 1.3rem;
}
.categorySecondList li{
    margin-bottom: 1.8rem;
}
.categorySecondList li a{
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.categoryCoupon{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.couponBtn{
    height: 50px;
    align-self: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: #FE0000;
    padding: 0 .5rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    background: none;
}
.couponBtn:hover{
    background: #FE0000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #FE0000,
                0 0 25px #FE0000,
                0 0 50px #FE0000,
                0 0 100px #FE0000;
  }
.couponBtn span{
    position: absolute;
    display: block;
}
.couponBtn span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #FE0000);
    animation: btn-anim1 1s linear infinite;
  }
  
@keyframes btn-anim1{
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
}
.couponBtn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FE0000);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}
@keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
}
.couponBtn span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #FE0000);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
@keyframes btn-anim3{
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
.couponBtn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FE0000);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
@keyframes btn-anim4{
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
/*SECTION RIGHT PRODUCTS*/
.productsTitle-text{
    color: #FF9B50;
    font-weight: 700;
    position: relative;
    text-align: center;
    z-index: 3;
}
.productsTitle-text::before{
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    height: 30px;
    z-index: -1;
}
.productsTitle-text::after{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    border: 1px solid #D8D9DA;
    width: 100%;
    height: 0;
    z-index: -2;
}
.productsCards .card{
    width: 100%;
    height: 430px;
    padding: 1rem 0;
    text-align: center;
    margin-top: 1rem;
    position: relative;

}
.productCard-img{
    width: 50%;
    height: 200px;
    margin: auto;
}
.productCard-title{
    font-size: 16px;
    font-weight: 600;
}
.productCard-text{
    font-size: 20px;
    font-weight: 700;
    color: #FF9B50;
}
.productCard-btn{
    position: absolute;
    bottom: 15px;
    right: 20px;
    border: 2px solid #FF9B50;
    border-radius: 30px;
    padding: .3rem 1rem;
    background-color: #fff;
    font-weight: 600;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}
.productCard-btn:hover{
    background-color: #FF9B50;
    color: #fff;
}
.productCard-btn:active{
    transform: scale(1.1);
}
.favorites{
    position: absolute;
    top: 15px;
    right: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .2rem .4rem;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: color .3s , transform .3s;
}
.favorites:hover{
    color: #FF9B50;
}
.favorites:active{
    transform: scale(1.2);
}

/* FOOTER SECTION */

/* Footer First */
.footer{
    background-color: #F0F0F0;
    padding: 0 0 4rem 0;
}
.footerFirst{
    border-bottom: 2px solid #c2c3c3;
}
.footerTextImg p{
    font-size: 12px;
    font-weight: 100;
}
.footerTextImg img{
    border: 3px solid #c2c3c3;
    margin-bottom: .5rem;
    border-radius: 5px;
}
.footerFirst-image{
    text-align: center;
}
.footerFirst-image img{
    width: 155px;
    border: 3px solid #c2c3c3;
    border-radius: 5px;
    margin-bottom: .5rem;
}
.footerFirst-image p{
    font-size: 12px;
    font-weight: 100;
}
.footerFirst-map{
    font-size: 12px;
    font-weight: 500;
    position: relative;
}
.footerMap-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%,-50%);
}

/* Footer Second */
.footerMenu-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.footerMenuList{
    list-style: none;
    padding-left: 0;
}
.footerMenuList li{
    margin-bottom: .9rem;
}
.footerMenuList a{
    text-decoration: none;
    color: #73777B;
    font-size: 15px;
}
.footerContact-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.footerContact-input{
    width: 100%;
    height: 40px;
    padding: 0 .5rem;
    border: 1px solid #73777B;
    border-right: none;
    border-radius: 5px 0 0 5px;
}
.footerContact-input:focus{
    outline-color: #FF9B50;
}
.footerContact-btn{
    border: none;
    background-color: #FF9B50;
    padding: 0 1rem;
    font-size: 25px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    transition: transform .3s;
}
.footerContact-btn:active{
    transform: scale(1.2);
}
.footerContact-text{
    font-size: 15px;
    color: #73777B;
}

/* Footer-Third */

.footerThird{
    background-color: #D8D9DA;
}
.footerThird-left{
    color: #73777B;
    font-size: 15px;
}
.footerThird-right{
    color: #73777B;
    font-size: 15px;
}
/* INDEX.HTML CSS KODLARI */
/**************************/


/*****************************/
/* PRODUCTS.HTML CSS KODLARI */

.label{
    color: black;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.noUi-target{
    border: none;
    box-shadow: inset 0 1px 1px #FF9B50,0 3px 6px -5px #FF9B50;
}
.noUi-handle{
    border: 1px solid #FF9B50;
}
.noUi-handle:after,.noUi-handle:before{
    background: #FF9B50;
}
.noUi-connects{
    border: 1px solid #FF9B50;
}
.noUi-connect{
    background-color: #FF9B50;
}
/*burada slider kaydıkça fiyat gözükecek yani slider üzerindekilere active olduğunda burada gözükecek*/
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.noUi-marker-horizontal.noUi-marker{
    height: 10px;
    background-color: #73777B;
}
.noUi-marker-horizontal.noUi-marker-large{
    width: 3px;
    height: 15px;
    background-color: black;
}
.noUi-value{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.noUi-pips-horizontal{
    padding: 20px 0;
}
.reset{
    margin-top: 5rem;
    text-align: center;
}
#resetBtn{
    border: none;
    background-color: #C63D2F;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: .3rem 2rem;
    border-radius: 30px;
    transition: background-color .3s,solor .3s,transform .3s;
}
#resetBtn:active{
    border: 1px solid #C63D2F;
    background-color: #fff;
    color: #C63D2F;
    transform: scale(1.1);
}
.categoryImage img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    margin-top: 4rem;
}

/* PRODUCT CARD */
.productNoneMessage{
    display: none;
}
.productNoneMessage h3{
    font-weight: 800;
}
.productGo-link{
    text-decoration: none;
    background-color: #FF9B50;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: .5rem 1rem;
    border-radius: 30px;
}

/*****************************/
/* PRODUCTS.HTML CSS KODLARI */

/*****************************/
/* LOGIN.HTML CSS KODLARI */

.loginText{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 2.2rem;
}
.loginForm input{
    width: 100%;
    height: 40px;
    margin-bottom: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #D8D9DA;
    padding: 1.5rem .8rem;
    font-size: 17px;
}
.loginForm input:focus{
    outline: 3px solid #FF9B50;
}
.loginBtn{
    border: none;
    background-color: #FF9B50;
    color: #fff;
    padding: .5rem 1.5rem;
    font-size: 17px;
    font-weight: 600;
    border-radius: 15px;
    transition: border .3s, background-color .3s,color .3s,transform .3s;
}
.loginBtn:active{
    border: 2px solid #FF9B50;
    background-color: #fff;
    color: #FF9B50;
    transform: scale(1.1);
}
.orText{
    display: inline-block;
    background-color: #FF9B50;
    color: #fff;
    padding: 2rem;
    border-radius: 50%;
    font-weight: 700;
}
.formIcon{
    position: relative;
}
.formIcon-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.formIcon-eye2{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.signUp-textMessage{
    font-size: 16px;
    font-weight: 600;
}
#accountGo{
    color: #FF9B50;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.signIn-textMessage{
    font-size: 16px;
    font-weight: 600;
    color: #C63D2F;
}
/*****************************/
/* LOGIN.HTML CSS KODLARI */

/*****************************/
/* CONTACT.HTML CSS KODLARI */

.contact-title{
    text-align: center;
    color: #FF9B50;
    font-weight: 600;
    margin-bottom: 2rem;
}
.contactInput-name{
    width: 49%;
}
.contactInput-email{
    width: 50%;
}
#contactInput-message{
    width: 100%;
    padding: 1rem .5rem;
    margin-bottom: 1.2rem;
}
.contactInput{
    height: 35px;
    padding: 1.2rem .5rem;
    margin-bottom: 1.2rem;
}
.contactInput:focus, #contactInput-message:focus{
    outline-color: #FF9B50;
}
.contactBtn{
    border: 2px solid #FF9B50;
    background: #FF9B50;
    color: #fff;
    padding: .5rem 1.5rem;
    font-weight: 500;
    font-size: 18px;
    transition: transform .2s;
}
.contactBtn:active{
    transform: scale(1.1);
}
.contact-adress-list li{
    font-size: 17px;
    margin-bottom: 7px;
}
.contact-adress-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.social-iconLink{
    color: #73777B;
    font-size: 24px;
    transition: color .2s;
}
.social-iconLink:hover{
    color: #FF9B50;
}


