/* BOOTSTRAP CDN */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* GOOGLE FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}
body{
    padding: 0 0 10rem 0;
}

/*NAVBAR START*/
.navFirst-bg{
    background-color: #D8D9DA;
}
.navFirst-contactList li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.navFirst-contactList li i{
    font-size: 20px;
}
.navFirst-iconList li{
    margin-left: 2rem;
    list-style: none;
}
.navFirst-iconList li a{
    font-size: 20px;
}
.navFirst-iconList li a i{
    color: black;
    transition: all .3s;
}
.navFirst-iconList li a i:hover{
    color: #FF9B50;
    transform: scale(1.3);
}

.navSecond-under{
    border-bottom: 2px solid #D8D9DA;
}
.navSecond-linkList{
    display: flex;
    justify-content: end;
}
.navSecond-linkList li{
    margin-left: 1rem;
    margin-top: 1.5rem;
}
.navSecond-linkList li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color .3s;
}
.navSecond-linkList li:hover :is(a,i){
    color: #FF9B50;
}
.navSecond-linkList li i{
    font-size: 20px;
    color: black;
    transition: color .3s;
}
#navbarColor{
    color: #FF9B50;
}
#navbarColor:hover{
    color: #73777B;
}
.navbarThird-style a{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.navbarThird-style a:hover{
    color: #73777B;
}
.dropStyle{
    font-size: 18px;
    margin-top: 2px;
    font-weight: 600;
}
.dropStyle:hover{
    color: #73777B;
}
.navThird-input{
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #D8D9DA;
    width: 300px;
}
.navThird-input::placeholder{
    color: black;
    font-size: 19px;
}
.navThird-input:focus{
    outline-color: #FF9B50;
}
.navThird-button{
    border: none;
    background-color: #FF9B50;
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
    transition: all .4s;
}
.navThird-button:hover{
    transform: scale(1.1);
}

/*COROUSEL*/
.corouselVideo{
    border-radius: 50%;
}
.corouselNext-icon{
    color: #FF9B50;
    font-size: 35px;
}
.corouselBack-icon{
    color: #FF9B50;
    font-size: 35px;
}
.carousel-indicators [data-bs-target]{
    background-color: #FF9B50;
    height: 10px;
}
.carouselFirst-textBaslik{
    font-size: 36px;
    font-weight: 600;
}
.textBaslik-first{
    color: #FF9B50;
    font-weight: 900;
}
.carouselFirst-textParagraf{
    font-size: 20px;
    font-weight: 400;
}
.carouselSecond-text{
    font-size: 36px;
    font-weight: 600;
}
.carouselSecond-paragraf{
    font-size: 20px;
    font-weight: 400;
}
.corouselSecond-button{
    border: none;
    background-color: #9D44C0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: .5rem 2rem;
    border-radius: 50px;
    transition: transform .4s;
}
.corouselSecond-button:hover{
    transform: scale(1.2);
}
.corouselSecond-icon{
    position: relative;
    animation-name: top;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes top{
    0%{top:0}
    100%{top:40px}
}
.corouselSecond-icon i{
    color: #9D44C0;
    font-size: 40px;
}
.corouselSecond-img{
    border-radius: 50%;
}

/*SECTİON-LEFT CATEGORY*/
.categorySection{
    border: 1px solid #D8D9DA;
    padding: 1rem;
}
.accordion-item{
    border: none;
}
.categoryTitle-text{
    color: #FF9B50;
    font-weight: 700;
    text-align: center;
    z-index: 3;
    position: relative;
}
.categoryTitle-text::before{
    content: "";
    position: absolute;
    background: #ffffff;
    bottom: -6px;
    width: 130px;
    height: 30px;
    z-index: -1;
    left: 50%;
    margin-left: -65px;
}
.categoryTitle-text:after{
    content: "";
    position: absolute;
    border: 1px solid #D8D9DA;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -2;
}
.accordionList{
    list-style: none;
}
.accordionList li{
    margin-bottom: 5px;
}
.accordionList a{
    text-decoration: none;
    color: #73777B;
}
.accordion-button:not(.collapsed){
    background: none;
    color: black;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button{
    font-weight: 600;
}
.categorySecondList{
    padding: 0 1.3rem;
}
.categorySecondList li{
    margin-bottom: 1.8rem;
}
.categorySecondList li a{
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

/*SECTION RIGHT PRODUCTS*/
.productsTitle-text{
    color: #FF9B50;
    font-weight: 700;
    position: relative;
    text-align: center;
    z-index: 3;
}
.productsTitle-text::before{
    content: "";
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    height: 30px;
    z-index: -1;
}
.productsTitle-text::after{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    border: 1px solid #D8D9DA;
    width: 100%;
    height: 0;
    z-index: -2;
}
.productsCards .card{
    width: 100%;
    height: 400px;

}
.productsCard-img{
    width: 50%;
    margin: auto;
}